$my-font: Inter;
$parts-background: #FFFFFFFF;
$main-background: #E5E5E5;
$paragraph-color: #767676;
$icon-color: #FFB400;
$lines-border : 1px solid #F0F0F6;
$black : #2B2B2B;
$green: #7EB942;
$lemon-green: #05FF00CC;
$red: #FF2E00CC;
$blue: #0047FFCC;