@use 'variables';

body {
  background-color: variables.$main-background;
}

p {
  font-family: variables.$my-font;
  color: variables.$paragraph-color;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8vw;
  min-font-size: 15px;
  line-height: 1vw;
  margin: 0;
  text-align: center;
}

h4 {
  font-family: variables.$my-font;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1vw;
  line-height: 123.6%;
  margin: 0;
  text-align: center;
}

.line {
  margin-top: 1vw;
  width: 80%;
  alignment: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar {
  background-color: variables.$parts-background;
  width: 20%;
  left: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  div {
    margin-top: 5%;
  }

  p {
    margin-top: 5%;
  }

  h4 {
    margin-top: 5%;
  }
}

.profile-image {
  display: flex;
  align-items: center;
  flex-direction: column;

  img {
    width: 80%;
  }
}

#available {
  position: absolute;
  width: auto;
  align-self: flex-end;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
  }
}

.social-media > span {
  margin: 0.5vw;
  background-color: variables.$icon-color;
  border-radius: 100%;
  padding: 0.3vw;
  width: 50%;
  height: 50%;
}

.information-field {
  display: flex;
  flex-direction: column;
  //align-items: left;
}

.information-value {
  display: flex;
  flex-direction: column;
  //align-items: flex-end;
}

.download-cv {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4%;

  img {
    width: 100%;
  }

  @media screen and (max-width: 890px) {
    img {
      justify-items: center;
      width: 80%;
    }
  }
}

.main-items {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.intro {
  background-color: variables.$parts-background;
}

//.intro{
//  background-color: variables.$parts-background;
//  position: absolute;
//  width: 970px;
//  height: 531.9px;
//  left: 335px;
//  top: 0;
//  img{
//    position: absolute;
//    width: 325.72px;
//    height: 522.89px;
//    left: 586.68px;
//    top: 9.11px;
//  }
//  h6{
//    position: absolute;
//    width: 424px;
//    height: 100.23px;
//    left: 60px;
//    top: 260.82px;
//    margin: 0;
//    font-family: variables.$my-font;
//    text-transform: capitalize;
//    font-weight: 400;
//    line-height: 24px;
//    font-size: 16px;
//    color: variables.$paragraph-color;
//  }
//}
//
//
//}
//
//.information-field {
//  p {
//    color: variables.$black;
//    background-color: variables.$icon-color;
//    position: absolute;
//    height: 24px;
//    left: 40px;
//  }
//  #age-field {
//    width: 46px;
//    top: 381px;
//  }
//
//  #res-field {
//    width: 89px;
//    top: 415px;
//  }
//
//  #freelance-field {
//    width: 85px;
//    top: 449px;
//  }
//
//  #adr-field {
//    width: 75px;
//    top: 483px;
//  }
//}
//
//
//
//.information-value {
//  p {
//    color: variables.$black;
//    text-align: right;
//    position: absolute;
//    height: 24px;
//    margin-right: 45px;
//  }
//
//  #age-value {
//    left: 241px;
//    top: 381px;
//  }
//
//  #res-value {
//    left: 239px;
//    top: 415px;
//  }
//
//  #freelance-value {
//    color: variables.$green;
//    left: 195px;
//    top: 449px;
//  }
//
//  #adr-value {
//    left: 128px;
//    top: 483px;
//  }
//}
//
//
//.languages {
//  h4 {
//    position: absolute;
//    width: 95px;
//    height: 22px;
//    left: 40px;
//    top: 557px;
//  }
//
//  p {
//    position: absolute;
//    height: 24px;
//    left: 40px;
//  }
//
//  #persian {
//    top: 594px;
//  }
//
//  #english {
//    top: 636px;
//
//  }
//
//  #spanish {
//    top: 678px;
//
//  }
//}
//
//
//.languages-level {
//  p {
//    text-align: right;
//    position: absolute;
//    height: 24px;
//    left: 222px;
//  }
//  #persian-lev {
//    top: 594px;
//  }
//
//  #english-lev {
//    left: 219px;
//    top: 636px;
//  }
//
//  #spanish-lev {
//    top: 678px;
//  }
//}
//
//
//.contact {
//  h4 {
//    position: absolute;
//    width: 173px;
//    height: 22px;
//    left: 40px;
//    top: 768px;
//  }
//
//  p {
//    position: absolute;
//    height: 24px;
//    left: 37px;
//  }
//  #email{
//    left: 40px;
//    top: 829px;
//  }
//  #phone{
//    top: 877px;
//  }
//  #telegram{
//    top: 921px;
//  }
//  #skype{
//    top: 964px;
//  }
//}
//
//.contact-value {
//  p {
//    text-align: right;
//    position: absolute;
//    height: 24px;
//    left: 153px;
//  }
//  #email-val{
//    text-decoration-line: underline;
//    top: 824px;
//  }
//  #phone-val{
//    top: 876px;
//  }
//  #telegram-val{
//    left: 152px;
//    top: 923px;
//  }
//  #skype-val{
//    left: 152px;
//    top: 964px;
//  }
//}
//.skills{
//  h4{
//    position: absolute;
//    left: 40px;
//    top: 1052px;
//  }
//  p{
//    position: absolute;
//    height: 24px;
//    left: 55px;
//    margin-left: 15px;
//  }
//  span{
//    position: absolute;
//    width: 10px;
//    height: 10px;
//    box-sizing: border-box;
//    border: 1px solid variables.$icon-color;
//  }
//  #rect-left-1{
//    left: 40px;
//    top: 1093px;
//  }
//  #rect-right-1{
//    left: 45px;
//    top: 1098px;
//  }
//  #rect-left-2{
//    left: 40px;
//    top: 1122px;
//  }
//  #rect-right-2{
//    left: 45px;
//    top: 1127px;
//  }
//  #rect-left-3{
//    left: 40px;
//    top: 1151px;
//  }
//  #rect-right-3{
//    left: 45px;
//    top: 1156px;
//  }
//  #rect-left-4{
//    left: 40px;
//    top: 1180px;
//  }
//  #rect-right-4{
//    left: 45px;
//    top: 1185px;
//  }
//
//  #skill-1{
//    top: 1089px;
//  }
//  #skill-2{
//    top: 1118px;
//  }
//  #skill-3{
//    top: 1147px;
//  }
//  #skill-4{
//    top: 1176px;
//  }
//}
//