@use 'variables';

body {
  background-color: variables.$main-background;
}

p {
  font-family: variables.$my-font;
  color: variables.$paragraph-color;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  min-font-size: 15px;
  line-height: 1.5vw;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: variables.$my-font;
  font-style: normal;
  font-weight: 700;
  font-size: 2.9vw;
  min-font-size: 20px;
  line-height: 123.6%;
  margin: 0;
  text-align: left;
}

h2 {
  font-family: variables.$my-font;
  font-style: normal;
  font-weight: 700;
  font-size: 2vw;
  min-font-size: 19px;
  line-height: 123.6%;
  margin: 0;
  text-align: center;
}

h4 {
  font-family: variables.$my-font;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1vw;
  min-font-size: 18px;
  line-height: 123.6%;
  margin: 0;
  text-align: center;
}

h6 {
  font-family: variables.$my-font;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1vw;
  min-font-size: 17px;
  line-height: 123.6%;
  margin: 0;
  text-align: center;
}


.line {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80%;
  alignment: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar {
  background-color: variables.$parts-background;
  width: 20%;
  left: 0;
  height: 80%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-width: 900px){
    width: 30%;
  }
  p {
    margin-top: 5%;
  }

  h4 {
    margin-top: 5%;
  }
}

.profile-image {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  img {
    margin-top: 1vw;
    width: 110%;
    @media screen and (min-width: 1000px) and (max-width: 1300px) {
      width: 80%;
    }
    @media screen and (min-width: 500px) and (max-width: 1000px) {
      width: 60%;
    }
    @media screen and (min-width: 10px) and (max-width: 500px) {
      width: 30%;
    }
  }
  span {
    position: absolute;
    top: 80%;
    left: 80%;
    z-index: 1;
    height: 1vw;
    width: 1vw;
    background-color: variables.$green;
    border-radius: 100%;
    @media screen and (min-width: 1300px) and (max-width: 1800px) {
      left: 85%;
    }
    @media screen and (min-width: 1000px) and (max-width: 1300px) {
      left: 75%;
    }
    @media screen and (min-width: 500px) and (max-width: 1000px) {
      left: 70%;
    }
    @media screen and (min-width: 10px) and (max-width: 500px) {
      left: 60%;
    }
  }
}



.social-media {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.3vw;

  img {
    width: 100%;
    height: 100%;
  }
}
.social-media > span {
  margin: 0.7vw;
  background-color: variables.$icon-color;
  border-radius: 50%;
  padding: 0.3vw;
  width: 60%;
  height: 60%;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //align-items: flex-start;
  gap: 5vw;
}

.information-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  height: 100%;
  justify-content: space-between;

  p {
    background-color: variables.$icon-color;
    color: variables.$black;
    padding: 5%;
  }
}

.information-value {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  height: 100%;
  justify-content: space-between;

  p {
    color: variables.$black;
    padding: 2%;
  }
}

#freelance-value {
  color: variables.$green;
}

.languages-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1vw;
  margin-bottom: 1vw;
  width: 100%;

  h4 {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 800px) {
    margin-bottom: 0.1vw;
  }
}

.languages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //align-items: flex-start;
  gap: 9vw;

  p {
    padding: 10%;
  }
}

.languages-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  height: 100%;
  justify-content: space-between;
}

.languages-level {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  height: 100%;
  justify-content: space-between;

  p {
    margin: 0;
  }
}


.contact-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1vw;
  width: 100%;
  margin-bottom: 1vw;

  h4 {
    width: 100%;
    height: 100%;

  }

  //
  //h3 {
  //  width: 33%;
  //}

  @media screen and (max-width: 800px) {
    margin-bottom: 0.1vw;
  }
}

#empty {
  width: 35%;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 6vw;

  p {
    padding: 10%;
  }
}

.contact-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  height: 100%;
  justify-content: space-between;

  p {
    margin: 0;
    padding: 10%;
  }
}

.contact-value {
  display: flex;
  flex-direction: column;
  //width: 100%;
  align-items: flex-start;
  //height: 100%;
  justify-content: space-between;

  p {
    margin: 0;
    padding: 5%;
  }
}

.skills-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 7vw;
  margin-bottom: 1vw;
  width: 100%;

  h4 {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 800px) {
    margin-bottom: 0.1vw;
  }
}

.skills-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  gap: 1vw;
  margin-bottom: 5%;
}

.skill-logo {
  display: flex;
  flex-direction: column;
  width: 10%;
  //max-width: 100%;
  align-items: flex-start;
  height: 100%;
  //justify-content: space-between;
  gap: 1.5vw;
  //padding: 0vw;
  margin-left: 2vw;
  @media screen and (min-width: 480px) and (max-width: 1150px) {
    height: 1%;
    margin-left: 1vw;
    gap: 2vw;
  }
  @media screen and (min-width: 0px) and (max-width: 480px) {
    width: 10%;
    height: 5%;
    margin-left: 1vw;
    gap: 2vw;
  }
}

.skill-value {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  height: 100%;
  justify-content: space-between;
  gap: 0.7vw;

  p {
    margin-top: 0;
  }

  @media screen and (min-width: 1150px) and (max-width: 1600px) {
    height: 1%;
    margin-left: 1vw;
    gap: 1vw;
  }
  @media screen and (min-width: 870px) and (max-width: 1150px) {
    height: 1%;
    gap: 2vw;
  }
  @media screen and (min-width: 480px) and (max-width: 870px) {
    height: 5%;
    gap: 3vw;
  }
  @media screen and (min-width: 0px) and (max-width: 480px) {
    height: 5%;
    gap: 4vw;
  }
}

.download-cv {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4%;

  img {
    width: 100%;
  }

  @media screen and (max-width: 1150px) {
    img {
      justify-items: center;
      width: 80%;
    }
  }
}

.main-items {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5vw;
  margin-right: 1vw;
  @media screen and (max-width: 900px){
    width: 60%;
  }
}

.intro {
  height: 18%;
  background-color: variables.$parts-background;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1vw;

  img {
    height: 100%;
  }
}

.text-intro {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  alignment: left;
  gap: 2.5vw;
  margin-left: 4vw;
  margin-top: 3vw;

  img {
    width: 30%;
    margin-bottom: 1.5vw;
  }

  h1 {
    width: 80%;
  }
}

#colored-text {
  color: variables.$icon-color;
}

#intro-paragraph {
  width: 70%;
  height: 70%;
  text-transform: capitalize;
  color: variables.$paragraph-color;
  text-align: left;
}

.photo-intro {
  margin-right: 5vw;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.services {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1vw;
  align-items: center;

}

.my-services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;

  p {
    width: 46%;
    text-transform: capitalize;
    margin-bottom: 1.5vw;
  }
}

.box-services-1 {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1vw;
}

.box-services-2 {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1vw;
}

.service-box {
  padding: 1.5vw;
  display: flex;
  flex-direction: column;
  background-color: variables.$parts-background;
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;

  img {
    width: 30%;
  }

  span {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.8vw;
    min-font-size: 10px;
    line-height: 1.1vw;
    color: variables.$icon-color;
  }

  a {
    padding: 0.15vw;

  }
}

#advertisement {
  max-width: 80%;
  text-transform: capitalize;
}

.education-work {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1vw;
  align-items: center;
}

.education-work-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;

  p {
    width: 46%;
    text-transform: capitalize;
    margin-bottom: 1.5vw;
  }
}

.education-work-box {
  background-color: variables.$parts-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 77%;
  padding-top: 2vw;
  padding-bottom: 2vw;
  justify-content: space-between;
  //gap: 0.1vw;
}

.education-work-1 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.education-work-2 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.education-work-3 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.education-work-title {
  margin-bottom: 4.5vw;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5vw;
}

.education-work-position {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.education-work-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5vw;

  p {
    text-align: left;
    text-transform: capitalize;
  }

}

.position {
  width: 20%;
  color: variables.$black;
  text-align: left;
}

.duration {
  width: 40%;
  line-height: 1vw;
  font-size: 0.7vw;
  color: variables.$parts-background;
  padding: 0.1vw;
  background-color: variables.$icon-color;
}