body {
  background-color: #E5E5E5;
}

p {
  font-family: Inter;
  color: #767676;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  min-font-size: 15px;
  line-height: 1.5vw;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 2.9vw;
  min-font-size: 20px;
  line-height: 123.6%;
  margin: 0;
  text-align: left;
}

h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 2vw;
  min-font-size: 19px;
  line-height: 123.6%;
  margin: 0;
  text-align: center;
}

h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1vw;
  min-font-size: 18px;
  line-height: 123.6%;
  margin: 0;
  text-align: center;
}

h6 {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1vw;
  min-font-size: 17px;
  line-height: 123.6%;
  margin: 0;
  text-align: center;
}

.line {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80%;
  alignment: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar {
  background-color: white;
  width: 20%;
  left: 0;
  height: 80%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .sidebar {
    width: 30%;
  }
}
.sidebar p {
  margin-top: 5%;
}
.sidebar h4 {
  margin-top: 5%;
}

.profile-image {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.profile-image img {
  margin-top: 1vw;
  width: 110%;
}
@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .profile-image img {
    width: 80%;
  }
}
@media screen and (min-width: 500px) and (max-width: 1000px) {
  .profile-image img {
    width: 60%;
  }
}
@media screen and (min-width: 10px) and (max-width: 500px) {
  .profile-image img {
    width: 30%;
  }
}
.profile-image span {
  position: absolute;
  top: 80%;
  left: 80%;
  z-index: 1;
  height: 1vw;
  width: 1vw;
  background-color: #7EB942;
  border-radius: 100%;
}
@media screen and (min-width: 1300px) and (max-width: 1800px) {
  .profile-image span {
    left: 85%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .profile-image span {
    left: 75%;
  }
}
@media screen and (min-width: 500px) and (max-width: 1000px) {
  .profile-image span {
    left: 70%;
  }
}
@media screen and (min-width: 10px) and (max-width: 500px) {
  .profile-image span {
    left: 60%;
  }
}

.social-media {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.3vw;
}
.social-media img {
  width: 100%;
  height: 100%;
}

.social-media > span {
  margin: 0.7vw;
  background-color: #FFB400;
  border-radius: 50%;
  padding: 0.3vw;
  width: 60%;
  height: 60%;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5vw;
}

.information-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  height: 100%;
  justify-content: space-between;
}
.information-field p {
  background-color: #FFB400;
  color: #2B2B2B;
  padding: 5%;
}

.information-value {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  height: 100%;
  justify-content: space-between;
}
.information-value p {
  color: #2B2B2B;
  padding: 2%;
}

#freelance-value {
  color: #7EB942;
}

.languages-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1vw;
  margin-bottom: 1vw;
  width: 100%;
}
.languages-header h4 {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 800px) {
  .languages-header {
    margin-bottom: 0.1vw;
  }
}

.languages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 9vw;
}
.languages p {
  padding: 10%;
}

.languages-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  height: 100%;
  justify-content: space-between;
}

.languages-level {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  height: 100%;
  justify-content: space-between;
}
.languages-level p {
  margin: 0;
}

.contact-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1vw;
  width: 100%;
  margin-bottom: 1vw;
}
.contact-header h4 {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 800px) {
  .contact-header {
    margin-bottom: 0.1vw;
  }
}

#empty {
  width: 35%;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 6vw;
}
.contact p {
  padding: 10%;
}

.contact-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  height: 100%;
  justify-content: space-between;
}
.contact-field p {
  margin: 0;
  padding: 10%;
}

.contact-value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.contact-value p {
  margin: 0;
  padding: 5%;
}

.skills-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 7vw;
  margin-bottom: 1vw;
  width: 100%;
}
.skills-header h4 {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 800px) {
  .skills-header {
    margin-bottom: 0.1vw;
  }
}

.skills-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  gap: 1vw;
  margin-bottom: 5%;
}

.skill-logo {
  display: flex;
  flex-direction: column;
  width: 10%;
  align-items: flex-start;
  height: 100%;
  gap: 2.2vw;
  margin-left: 2vw;
  margin-top: 1vw;
}
@media screen and (min-width: 1150px) and (max-width: 1600px) {
  .skill-logo {
    gap: 2.2vw;
  }
}
@media screen and (min-width: 480px) and (max-width: 1150px) {
  .skill-logo {
    height: 1%;
    margin-left: 1vw;
    gap: 2.5vw;
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .skill-logo {
    width: 10%;
    height: 5%;
    margin-left: 1vw;
    gap: 2vw;
  }
}

.skill-value {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  height: 100%;
  justify-content: space-between;
  gap: 0.7vw;
}
@media screen and (min-width: 1150px) and (max-width: 1600px) {
  .skill-value {
    height: 1%;
    margin-left: 1vw;
    gap: 1vw;
  }
}
@media screen and (min-width: 870px) and (max-width: 1150px) {
  .skill-value {
    height: 1%;
    gap: 1.5vw;
  }
}
@media screen and (min-width: 480px) and (max-width: 870px) {
  .skill-value {
    height: 5%;
    gap: 2.5vw;
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .skill-value {
    margin-top: 1vw;
    gap: 3vw;
    margin-left: 2vw;
  }
}

.download-cv {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4%;
}
.download-cv img {
  width: 100%;
}
@media screen and (max-width: 1150px) {
  .download-cv img {
    justify-items: center;
    width: 80%;
  }
}

.main-items {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5vw;
  margin-right: 1vw;
}
@media screen and (max-width: 900px) {
  .main-items {
    width: 60%;
  }
}

.intro {
  height: 18%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1vw;
}
.intro img {
  height: 100%;
}
@media screen and (max-width: 900px) {
  .intro img {
    height: 100%;
    width: 100%;
  }
}

.text-intro {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  alignment: left;
  gap: 2.5vw;
  margin-left: 4vw;
  margin-top: 3vw;
}
@media screen and (max-width: 1700px) {
  .text-intro {
    margin-top: 5vw;
    gap: 1vw;
  }
}
.text-intro img {
  width: 30%;
  margin-bottom: 2.5vw;
}
.text-intro h1 {
  width: 80%;
}
@media screen and (max-width: 900px) {
  .text-intro h1 {
    font-size: 2vw;
  }
}

#colored-text {
  color: #FFB400;
}

#intro-paragraph {
  width: 70%;
  height: 70%;
  text-transform: capitalize;
  color: #767676;
  text-align: left;
}

.photo-intro {
  margin-right: 5vw;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.circle-orange-1 {
  position: absolute;
  top: 2vw;
  left: 31vw;
  width: 1vw;
  height: 1vw;
  z-index: 1;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: #FFB400;
}
@media screen and (max-width: 900px) {
  .circle-orange-1 {
    left: 41%;
  }
}

.circle-green-1 {
  position: absolute;
  top: 3.5vw;
  left: 62vw;
  width: 1vw;
  height: 1vw;
  z-index: 1;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(5, 255, 0, 0.8);
}
@media screen and (max-width: 900px) {
  .circle-green-1 {
    left: 63%;
  }
}

.square-orange {
  position: absolute;
  top: 7vw;
  left: 93vw;
  width: 1vw;
  height: 1vw;
  z-index: 1;
  border-style: solid;
  border-width: 2px;
  border-color: #FFB400;
  transform: matrix(0.87, 0.49, -0.39, 0.92, 0, 0);
}

.square-blue {
  position: absolute;
  top: 24vw;
  left: 55vw;
  width: 1vw;
  height: 1vw;
  z-index: 1;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 71, 255, 0.8);
  transform: matrix(0.87, 0.49, -0.39, 0.92, 0, 0);
}
@media screen and (max-width: 900px) {
  .square-blue {
    left: 60vw;
    top: 20vw;
  }
}

.circle-orange-2 {
  position: absolute;
  top: 26vw;
  left: 70vw;
  width: 1vw;
  height: 1vw;
  z-index: 1;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: #FFB400;
}
@media screen and (max-width: 1500px) {
  .circle-orange-2 {
    left: 67vw;
  }
}
@media screen and (max-width: 1300px) {
  .circle-orange-2 {
    left: 64vw;
  }
}
@media screen and (max-width: 900px) {
  .circle-orange-2 {
    left: 72vw;
    top: 20vw;
  }
}

.circle-green-2 {
  position: absolute;
  top: 30vw;
  left: 35vw;
  width: 1vw;
  height: 1vw;
  z-index: 1;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(5, 255, 0, 0.8);
}
@media screen and (max-width: 900px) {
  .circle-green-2 {
    left: 45vw;
    top: 25vw;
  }
}

.services {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1vw;
  align-items: center;
}

.my-services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}
.my-services p {
  width: 46%;
  text-transform: capitalize;
  margin-bottom: 1.5vw;
}

.box-services-1 {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1vw;
}

.box-services-2 {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1vw;
}

.service-box {
  padding: 1.5vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
}
.service-box img {
  width: 30%;
}
.service-box span {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.8vw;
  min-font-size: 10px;
  line-height: 1.1vw;
  color: #FFB400;
}
.service-box a {
  padding: 0.15vw;
}

#advertisement {
  max-width: 80%;
  text-transform: capitalize;
}
@media screen and (max-width: 900px) {
  #advertisement {
    font-size: 0.8vw;
    line-height: 0.9vw;
  }
}

.education-work {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1vw;
  align-items: center;
}

.education-work-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}
.education-work-header p {
  width: 46%;
  text-transform: capitalize;
  margin-bottom: 1.5vw;
}

.education-work-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 77%;
  padding-top: 2vw;
  padding-bottom: 2vw;
  justify-content: space-between;
}

.education-work-1 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.education-work-2 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.education-work-3 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.education-work-title {
  margin-bottom: 4.5vw;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5vw;
}

.education-work-position {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.education-work-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5vw;
}
.education-work-info p {
  text-align: left;
  text-transform: capitalize;
}

.position {
  width: 20%;
  color: #2B2B2B;
  text-align: left;
}
@media screen and (max-width: 900px) {
  .position {
    width: 30%;
  }
}

.duration {
  width: 40%;
  line-height: 1vw;
  font-size: 0.7vw;
  color: white;
  padding: 0.1vw;
  background-color: #FFB400;
}
@media screen and (max-width: 900px) {
  .duration {
    width: 50%;
  }
}

/*# sourceMappingURL=Styles.css.map */
