@use 'variables';

body {
  background-color: variables.$main-background;
}

p {
  font-family: variables.$my-font;
  color: variables.$paragraph-color;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8vw;
  min-font-size: 15px;
  line-height: 1vw;
  margin: 0;
  text-align: center;
}

h4 {
  font-family: variables.$my-font;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1vw;
  line-height: 123.6%;
  margin: 0;
  text-align: center;
}

.line {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80%;
  alignment: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar {
  background-color: variables.$parts-background;
  width: 20%;
  left: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  div {
  }

  p {
    margin-top: 5%;
  }

  h4 {
    margin-top: 5%;
  }
}

.profile-image {
  display: flex;
  align-items: center;
  flex-direction: column;

  img {
    margin-top: 1vw;
    width: 80%;
  }
}

//#available {
//  position: absolute;
//  width: 40%;
//  height: 40%;
//  top: 1vw;
//  left: 1vw;
//}

.social-media {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  //gap: 1.3vw;

  img {
    width: 100%;
    height: 100%;
  }
}

.social-media > span {
  margin: 0.5vw;
  background-color: variables.$icon-color;
  border-radius: 100%;
  padding: 0.3vw;
  width: 50%;
  height: 50%;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //align-items: flex-start;
  gap: 5vw;
}

.information-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  height: 100%;
  justify-content: space-between;

  p {
    background-color: variables.$icon-color;
    color: variables.$black;
    padding: 5%;
  }
}

.information-value {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  height: 100%;
  justify-content: space-between;

  p {
    color: variables.$black;
  }
}

#freelance-value {
  color: variables.$green;
}

.languages-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1vw;
  margin-bottom: 1vw;
  width: 100%;
  h4 {
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: 800px) {
    margin-bottom: 0.1vw;
  }
}

.languages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //align-items: flex-start;
  gap: 10vw;
  p{
    padding: 10%;
  }
}

.languages-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  height: 100%;
  justify-content: space-between;
}

.languages-level {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  height: 100%;
  justify-content: space-between;
}


.contact-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1vw;
  margin-bottom: 1vw;
  width: 100%;
  h4 {
    width: 100%;
    height: 100%;
  }
  h3{
    width: 33%;
  }
  @media screen and (max-width: 800px) {
    margin-bottom: 0.1vw;
  }
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //align-items: flex-start;
  gap: 7vw;
  p{
    padding: 10%;
  }
}

.contact-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  height: 100%;
  justify-content: space-between;
}

.contact-value {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  height: 100%;
  justify-content: space-between;
}

.skills-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 7vw;
  margin-bottom: 1vw;
  width: 100%;
  h4 {
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: 800px) {
    margin-bottom: 0.1vw;
  }
}

.skills-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  gap: 1vw;
}

.skill-logo {
  display: flex;
  flex-direction: column;
  width: 16%;
  max-width: 16%;
  align-items: flex-end;
  max-height: 20%;
  justify-content: space-between;
  gap: 2vw;
  //padding: 0vw;
  margin-top: 0.2vw;
  @media screen and (max-width: 1150px) {
    height: 1%;
    margin-left: 0.2vw;
    gap: 2.2vw;
  }

}

.skill-value {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  height: 105%;
  justify-content: space-between;
  gap: 1vw;
}

.download-cv {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4%;

  img {
    width: 100%;
  }

  @media screen and (max-width: 1150px) {
    img {
      justify-items: center;
      width: 80%;
    }
  }
}

.main-items {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.intro {
  background-color: variables.$parts-background;
}

//.intro{
//  background-color: variables.$parts-background;
//  position: absolute;
//  width: 970px;
//  height: 531.9px;
//  left: 335px;
//  top: 0;
//  img{
//    position: absolute;
//    width: 325.72px;
//    height: 522.89px;
//    left: 586.68px;
//    top: 9.11px;
//  }
//  h6{
//    position: absolute;
//    width: 424px;
//    height: 100.23px;
//    left: 60px;
//    top: 260.82px;
//    margin: 0;
//    font-family: variables.$my-font;
//    text-transform: capitalize;
//    font-weight: 400;
//    line-height: 24px;
//    font-size: 16px;
//    color: variables.$paragraph-color;
//  }
//}
//
//
//}
//.languages {
//  h4 {
//    position: absolute;
//    width: 95px;
//    height: 22px;
//    left: 40px;
//    top: 557px;
//  }
//
//  p {
//    position: absolute;
//    height: 24px;
//    left: 40px;
//  }
//
//  #persian {
//    top: 594px;
//  }
//
//  #english {
//    top: 636px;
//
//  }
//
//  #spanish {
//    top: 678px;
//
//  }
//}
//
//
//.languages-level {
//  p {
//    text-align: right;
//    position: absolute;
//    height: 24px;
//    left: 222px;
//  }
//  #persian-lev {
//    top: 594px;
//  }
//
//  #english-lev {
//    left: 219px;
//    top: 636px;
//  }
//
//  #spanish-lev {
//    top: 678px;
//  }
//}
//
//
//.contact {
//  h4 {
//    position: absolute;
//    width: 173px;
//    height: 22px;
//    left: 40px;
//    top: 768px;
//  }
//
//  p {
//    position: absolute;
//    height: 24px;
//    left: 37px;
//  }
//  #email{
//    left: 40px;
//    top: 829px;
//  }
//  #phone{
//    top: 877px;
//  }
//  #telegram{
//    top: 921px;
//  }
//  #skype{
//    top: 964px;
//  }
//}
//
//.contact-value {
//  p {
//    text-align: right;
//    position: absolute;
//    height: 24px;
//    left: 153px;
//  }
//  #email-val{
//    text-decoration-line: underline;
//    top: 824px;
//  }
//  #phone-val{
//    top: 876px;
//  }
//  #telegram-val{
//    left: 152px;
//    top: 923px;
//  }
//  #skype-val{
//    left: 152px;
//    top: 964px;
//  }
//}
//.skills{
//  h4{
//    position: absolute;
//    left: 40px;
//    top: 1052px;
//  }
//  p{
//    position: absolute;
//    height: 24px;
//    left: 55px;
//    margin-left: 15px;
//  }
//  span{
//    position: absolute;
//    width: 10px;
//    height: 10px;
//    box-sizing: border-box;
//    border: 1px solid variables.$icon-color;
//  }
//  #rect-left-1{
//    left: 40px;
//    top: 1093px;
//  }
//  #rect-right-1{
//    left: 45px;
//    top: 1098px;
//  }
//  #rect-left-2{
//    left: 40px;
//    top: 1122px;
//  }
//  #rect-right-2{
//    left: 45px;
//    top: 1127px;
//  }
//  #rect-left-3{
//    left: 40px;
//    top: 1151px;
//  }
//  #rect-right-3{
//    left: 45px;
//    top: 1156px;
//  }
//  #rect-left-4{
//    left: 40px;
//    top: 1180px;
//  }
//  #rect-right-4{
//    left: 45px;
//    top: 1185px;
//  }
//
//  #skill-1{
//    top: 1089px;
//  }
//  #skill-2{
//    top: 1118px;
//  }
//  #skill-3{
//    top: 1147px;
//  }
//  #skill-4{
//    top: 1176px;
//  }
//}
//